.notFound{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.errorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 180px;
    background-color: rgb(245, 221, 255);
    border: 2px solid rgb(143, 220, 255);
}

.back{
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
}