:root {
    --font-color: rgb(255, 194, 27);
}

.bodyLayer {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #f3f5f5, #e3e4f6);
    font-family: cursive;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 120px;

}

.inputWrapper {
    position: relative;
}

.header {
    font-size: 2.5rem;
    color: var(--font-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.notesList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes {
    counter-reset: section;
    padding: 25px 35px;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.mainForm {
    display: flex;
}

.addBtn {
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 25%;
    border: none;
    background-color: transparent;
}

.inputWrapper input {
    width: 90%;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
    padding: 6px 8px;
}

.inputs:focus {
    outline: 2px solid var(--font-color);
}

.material-icons {
    transform: rotate(180deg);
    position: absolute;
    cursor: pointer;
}

.filtered {
    font-size: 1.3rem;
    border: none;
    border-radius: 2px;

}

.filtered:focus {
    outline: 2px solid var(--font-color);
}
li::before {
    counter-increment: section;                  /* Increment the value of section counter by 1 */
    content: counter(section) '.';
    position: absolute;
    left: -10%;
}

.noteItem {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    padding-left: 8px;
    letter-spacing: 2px;
    position: relative;
}

.completeBtn {
    float: right;
    border: none;
    margin-left: 8px;
    background-color: rgb(81, 196, 81);
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
    height: 100%;
    cursor: pointer;
    padding: 0.3rem;
}

.deleteBtn {
    float: right;
    border: none;
    background-color: rgb(241, 51, 51);
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
    cursor: pointer;
    padding: 0.3rem;
}

.completed {
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
    opacity: 0.5;
    background-color: white;
    margin-top: 10px;
    padding-left: 8px;
    letter-spacing: 2px;
    position: relative;
}

.editInput {
    position: relative;
    border-radius: 5px;
    padding: 4px;
    margin: 0px 8px;
}

.dropdownWapper {
    display: flex;
}
.dropdownInnerWrapper{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.todoWrapper{
    display: flex;
}

.navigationWrapper {
    display: flex;
    justify-content: flex-end;
}

.formParent {
    position: relative;
}

.editBtn {
    position: absolute;
    cursor: pointer;
    top: 15%;
    right: 25%;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 574px) {
    .wrapper {
        margin-top: 0px;
        width: 85%;
        margin: 0 auto;
    }
    .header {
        font-size: 1.5rem;
    }
    .mainForm {
        align-items: center;
    }
    .inputWrapper input {
        font-size: 1.2rem;
    }
    .filtered {
        font-size: 1.1rem;
    }
    .addBtn {
        left: 70%;
        top: 20%;
    }
    .notes {
        padding: 10px 0px;
        font-size: 1.2rem;
        margin: 0 auto;
    }
    .noteItem {
        max-width: 300px;
        letter-spacing: 1px;
        padding-left: 4px;
    }
    .noteItem span {
        width: 55%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .completeBtn {
        min-width: 44px;
        max-width: 80px;
        margin-left: 0px;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 0px;
    }
    .deleteBtn {
        min-width: 44px;
        max-width: 80px;
        margin-left: 0px;
        font-size: 0.75rem; 
        padding: 0px;
        font-weight: bold;
        height: 100%;
    }
    li::before {
        left: -7%;
    }
    .editInput {
        margin: 0;
        max-height: 30px;
    }
    .editBtn {
        top: 0%;
        right: 15%;
    }
    .todoWrapper {
        align-items: center;
    }
    .formParent {
        max-height: 60px;
        display: flex;
    }
}