:root {
    --font-color: rgb(255, 194, 27);
}

.bodyLayer {
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #f3f5f5, #e3e4f6);
    font-family: cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 120px;

}

.inputWrapper {
    position: relative;
}

.header {
    font-size: 2.5rem;
    color: var(--font-color);
    font-weight: 700;
    letter-spacing: 2px;
}

.notesList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes {
    padding: 25px 35px;
    margin: 0.5rem;
    font-size: 1.5rem;
    caret-color: transparent;
}

.mainForm {
    caret-color: transparent;
    display: flex;
}

.addBtn {
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 25%;
    border: none;
    background-color: transparent;
}

.inputWrapper input {
    width: 90%;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
    padding: 6px 8px;
}

input:focus {
    outline: 2px solid var(--font-color);
}

.material-icons {
    transform: rotate(180deg);
    position: absolute;
    cursor: pointer;
}

.filtered {
    font-size: 1.3rem;
    border: none;
    border-radius: 2px;

}

.filtered:focus {
    outline: 2px solid var(--font-color);
}

.noteItem {
    background-color: white;
    margin-top: 10px;
    padding-left: 8px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    position: relative;
}

.completeBtn {
    float: right;
    border: none;
    margin-left: 8px;
    background-color: rgb(81, 196, 81);
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
    height: 100%;
    cursor: pointer;
    padding: 0.3rem;
}

.deleteBtn {
    float: right;
    border: none;
    background-color: rgb(241, 51, 51);
    font-size: 1.2rem;
    color: white;
    font-family: cursive;
    cursor: pointer;
    padding: 0.3rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: white;
    margin-top: 10px;
    padding-left: 8px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    position: relative;
}

.trashed {
    animation-name: trash;
    animation-duration: 0.8s;
}
.dropdownWapper {
    display: flex;
}
.dropdownInnerWrapper{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

@keyframes trash {
    0% {}

    100% {
        opacity: 0;
        transform: translateY(120%) rotateZ(20deg);
    }
}

@keyframes popUp {
    0% {opacity: 0;}
    80% {
        opacity: 0.8;
        transform: scale(1.4);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes spinner {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
